<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
     <sectionGroup name="graphfilelocation">
       <section
         name="graphfilelocation"
         type="SubDags.GraphElement"
         allowLocation="true"
         allowDefinition="Everywhere"
      />
     </sectionGroup>
     </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />        
    </startup>  
    <graphfilelocation>C:\Users\Akshay\Documents\Algorithms Course\Final Project\Mini Project\ConsistentSubDAG\SubDags\Graphs\graph.txt</graphfilelocation>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>